
*.xcbkptlist

*.xccheckout

stringsort.xcodeproj/project.xcworkspace/xcuserdata/jiawang.xcuserdatad/UserInterfaceState.xcuserstate

stringsort.xcodeproj/xcuserdata/jiawang.xcuserdatad/xcschemes/stringsort.xcscheme

stringsort.xcodeproj/xcuserdata/jiawang.xcuserdatad/xcschemes/xcschememanagement.plist
